{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ profile_user.first_name }}'s Profile
{% endblock %}

{%block breadcrumb%}
<li class="breadcrumb-item "><a href="{% url 'boards'%}">Home</a></li>
    <li class="breadcrumb-item active">    
        {{ profile_user.first_name  }}'s Profile
    </li>
{%endblock%}
{% block content %}
<div class="row mt-5">
    <div class="col-md-4">
        <div class="card">
            <img src="{% static 'img/user.png' %}" class="card-img-top" alt="{{ profile_user.username }}'s Profile Picture">
            <div class="card-body">
                <h5 class="card-title">{{ profile_user.first_name }} {{ profile_user.last_name }}</h5>
                <p class="card-text">{{ profile_user.email }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
